<header class="site-header">

  <div class="wrapper">

    <h1 class="site-title{% if page.title == 'Proposal' %} home{% endif %}">
      <a href="{{ site.baseurl }}/">{{ site.title }}</a>
    </h1>
    <p class="site-desc" href="{{ site.baseurl }}/">{{ site.description }}</p>

    <nav class="site-nav">
      {% for page in site.pages %}
        {% if page.title %}
        <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endif %}
      {% endfor %}
    </nav>

  </div>

</header>
