<header class="site-header">

  <div class="wrapper">

    <h1 class="site-title{% if page.title == 'Proposal' %} home{% endif %}">
      <a href="{{ site.baseurl }}/">{{ site.title }}</a>
    </h1>
    <p class="site-desc" href="{{ site.baseurl }}/">{{ site.description }}</p>

    <nav class="site-nav">
      <a class="page-link" href="/story">Story</a>
      <a class="page-link" href="/process">Process</a>
      <a class="page-link" href="/technology">Technology</a>
      <a class="page-link" href="/bio">Biography</a>
    </nav>

  </div>

</header>
