---
layout: page
title: Development Blog
---
<p>Learn more about the process of designing SenseU.</p>

<ul class="post-list post-list-all">
	{% for post in site.categories["process"] %}
	  <li class="post">
	    <a href="{{ post.url }}">
	      <h1>{{ post.title }}</h1>
	    </a>
	    <p class="post-meta">Posted on {{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}</p>
      {{ post.content }}
	  </li>

	{% endfor %}
</ul>
